@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Montserrat", sans-serif;
}

@theme {
  --font-serif: "Lora", serif;
  --font-sans: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Lora";
  src: url("/src/assets/fonts/Lora-VariableFont_wght.woff2") format("woff2");
  /* Assicurati che il nome file sia identico */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* Mostra un font di sistema finché questo non è carico */
}

/* Definiamo il font Sans (Montserrat) */
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.shadow-3xl {
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}
