@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Montserrat", sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

html {
  scrollbar-color: #fef3c6 #09090b;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.shadow-3xl {
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}
